<div class="spacer"></div>
<div class="spacer"></div>
<div class="main-text-container">
	<div class="bio-pic"><img src="/assets/bio.JPG" /></div>
	<div class="bio-title">SoSheWrote</div>
	<p>My name is Alyssa Hope, and I am a freelance copywriter. I love writing in almost any capacity but recently it has taken a turn I never would have expected and I started into writing code. Experiments with programming put me on a path to writing not only the content of this website, but the site itself, partially just to see if I could. The purpose of this blog is for me to showcase and continue to practice my skills in full stack development, as well as indulge in a lifelong passion for writing. As such, the blog is also an attempt to contain the many aspects of my writing in one place. From classical poetry to frontend ruminations on font selection, and from essays to databases - I hope to make these very different forms of written expression coexist at least somewhat gracefully, as they do in my mind. I will probably add more categories as time goes along.</p>

	<div><b>A bit about me:</b></div>
	<br>
	<p>As for me, I was born in Ohio and grew up here and there in a few different states and then countries overseas - so I am part of a group fondly referred to as TCK's (Third Culture Kids). This upbringing means that I speak both Russian and German with bits and pieces of a few other languages and know more than a few international airports in the same way that some people know their living rooms. I was blessed to see much of the world before I hit 18 and now cursed that I don't want to stop seeing the rest of it.</p>
	<p> Fast forwarding a few years to the grand era of college life, I had a great time at a small private college being a nerd and cross-country athlete. I got really involved on campus and graduated magna cum laude with a degree in Cross-Cultural Communication and English Literature. I made a home for myself in San Diego and left shortly thereafter to start my Peace Corps service as a full tme High School English teacher in Moldova, Eastern Europe. I thrived on the Peace Corps life style and mission and my time in Moldova was one of growth and many helpful realizations. I am now back in San Diego and, like most other 20-somethings I know, trying to make sense of the first 20 years of life and at the same time still feel slightly confused about what to do with the rest of it. Life can be a cantankerous adventure, though not without its joys and good surprises. I am currently a freelancer trying to expand my expertise and experience while enjoying life in Southern California.</p>
		
	<div><b>A bit about programming:</b></div>
	<br>
		<p>As can be seen the about me section, I am one of the least likely people to get involved in programming. In fact, if you had told me in college that in three years I would be in America making a living writing computer programs I would have definitely laughed in your face. But here I am. I was fortunate enough to pick up a new skill in the past few months and have come to consider myself an apprentice in the art of web development. I wrote this site with a common SQL database, Ruby on Rails backend, and a normal HTML/CSS/Foundation frontend. Go ahead and look around at the code as much as you like (*Right click and then choose "inspect element", for anyone who hasn't discovered the magic yet). </p>
		
	<div><b>And that's all there is for now - I hope you enjoy some of my content!</b></div>
	<br>
	<p>P.S. As a freelancer, I always have an ear to the ground for new work. <br>You can always request a fully updated resume at: alyssamhope@gmail.com <br> or check out my online portfolio and resume at <a href="http://alyssa-hope.branded.me" target="_blank"> alyssa-hope.branded.me </a></p>

</div>