<footer class="site-footer">
	<div class="quote-title">Quote of the week:</div>
	<div class="quote">
		<i>"I always have a quotation for everything - it saves original thinking." -- Dorothy Sayers</i>
		<p>Quote of the week and email updates coming soon!<p>
	</div>
	<div class="copyright"> So She Wrote</div>
	<div>Copyright 2015 by Alyssa M. Hope</div>
</footer>
