
<div class="spacer-small"></div>
<div class="login">Login</div>

<div class="row">
	<div class="small-centered small-11 medium-5 columns">
		<p>
			<%= form_tag(sessions_create_path) do %>
				<p> Password: <%= text_field_tag :password %> </p>
			<% end %>
		</p>
	</div>
</div>


<div class="spacer-small"></div>

